[submodule "agentSDK"]
	path = agentSDK
	url = https://github.com/BizShuk/agentSDK.git
	branch = master
[submodule "auth"]
	path = auth
	url = https://github.com/BizShuk/auth.git
	branch = master
[submodule "proxy"]
	path = proxy
	url = https://github.com/BizShuk/proxy.git
	branch = master
[submodule "conversation_agent"]
	path = conversation_agent
	url = https://github.com/BizShuk/conversation_agent.git
	branch = master
[submodule "sessiond"]
	path = sessiond
	url = https://github.com/BizShuk/sessiond.git
	branch = master
[submodule "msgHub"]
	path = msgHub
	url = https://github.com/BizShuk/msgHub
	branch = master
[submodule "m-agent"]
	path = m-agent
	url = https://github.com/BizShuk/m-agent.git
	branch = master
[submodule "skills"]
	path = skills
	url = https://github.com/bizshuk/skills
