[submodule "agentSDK"]
	path = agentSDK
	url = https://github.com/BizShuk/agentSDK.git
	branch = master
[submodule "conversation_agent"]
	path = conversation_agent
	url = https://github.com/BizShuk/conversation_agent.git
	branch = master
[submodule "m-agent"]
	path = m-agent
	url = https://github.com/BizShuk/m-agent.git
	branch = master
[submodule "customer_service"]
	path = customer_service
	url = https://github.com/BizShuk/customer_service.git
	branch = master
[submodule "cc-plugin"]
	path = cc-plugin
	url = https://github.com/bizshuk/cc-plugin.git
	branch = master
